@import '~bootstrap/scss/bootstrap';

* {
  font-family: 'Montserrat', sans-serif;
}
//navbar

.nav-bar-cont {
  height: 105px;
  background-color: rgb(20, 110, 190);

  .nav-container {
    height: 105px;

    .logo_bdevelopers {
      height: 105px;
    
      img {
        padding: 18px 0;
        height: 100%;
      }
    }
  }

}





// dashboard

#dashboard-row{
    
    margin-top: 30px;
    a {
      text-decoration: none;
    }
    .dashboard-card{
      text-align: center;
      border: 2px solid white;
      transition: none;
      -webkit-transition: all .4s ease;

      &:hover {
        color: rgb(20, 110, 190);
        border: 2px solid rgb(20, 110, 190);
        box-shadow: 7px 7px 5px 0px rgba(191, 184, 184, 0.7);
        -webkit-box-shadow: 7px 7px 5px 0px rgba(191, 184, 184, 0.7);
        -moz-box-shadow: 7px 7px 5px 0px rgba(191, 184, 184, 0.7);
        transition: none;
        -webkit-transition: all .4s ease;
      }
      
      img{
          width: 300px;
          height: 300px;
          object-fit: contain;
      }
    }
}


// Sponsorizzazione
.sponsor{
  h1{
    text-align: center;
    padding-top: .5em;
    padding-bottom: 1em;
  }
  .cards-container{
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 3em;
    // flex
  
    .card-outer{
      width: 250px;
  
      -webkit-box-shadow: 0px 0px 20px 0px #575757; 
      box-shadow: 0px 0px 20px 0px #575757;
  
      border-radius: 5px;
      
      .card-price{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        // flex
        border-radius: 5px;
        height: 200px;
  
        font-size: 2.5em;
  
        font-weight: bold;
        text-shadow: 1px 1px 2px #000;
        color: #fff;
  
        background-color: #fec54a;

        .small{
          font-size: .6em;
          color: #343434;
          text-shadow: none;
        }

        .old_price{
          color: rgb(249, 50, 50);
          font-size: .5em;
          text-shadow: none;
          text-decoration: line-through;
        }
  
      }
      .card{
        border: none; 
        height: 350px;
        .card-content{
          display: flex;
          flex-flow: column nowrap;
          // flex
          height: 100%;
          text-align: center;
          padding: 1em;
          .card-title{
            padding: 1em 0;
            margin: 0;
          }
          .card-body{
            // padding-top: 0;
            font-size: 1.1em;
            padding: 1em;
            flex-grow: 1;
          }
        }
      }
    }
    
  }
}


// profile

.img {
  #profile-pic{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top;

    border-radius: 50%;
  }

  #cv-pic {
    width: 400px;
    
  }
}


.fa-solid.fa-star,
.fa-solid.fa-star-half-stroke {
  color: rgba(235, 210, 71, 0.89);
}

.fa-regular.fa-star {
  color: rgb(180, 179, 179);
}



// Homepage
.card{
  #profile-pic{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
  }
}

#notfound-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;

  #notfound-robot{
    width: 200px;
    margin: 0 auto;
    fill: #2c0a0f;
    
  }
}
